<div class="task well">
  <a>Title: <%= "#{task.title}" %></a><br/>
  Description: <%= "#{task.description}" %> <br>
  Status: <%= "#{task.status}" %> <br>
  Due Date: <%= "#{task.due_date}" %> <br>
  Completed Date: <%= "#{task.completed_date}" %> <br>
  <div style='text-align:right;'>
<%= link_to 'Edit', {controller: 'tasks', action: 'edit', id: task.id},  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#edit_task_modal'}  %>    </div>


</div>