<h2><%= "#{@board.title}" %></h2>

<%= link_to('Back to Boards', boards_path) %>

  <div style='text-align:right;'>
    <%= link_to '+New Task', new_board_task_path(@board),  {:remote => true, 'data-target' => '#new_task_modal'}  %>    
  </div>


<p><%= "#{@board.description}" %></p>


<div class='row'>
  <div class='col-lg-4 status_column'><h3 class="status_title">To Do</h3>
    <div class='status'>
    <ul class="list-unstyled status_list" data-status="to_do" id="to_do_status">
        <% @tasks.sorted.to_do.each do |task| %>
          <%= content_tag_for(:li, task) do %> 
            <%= render(partial: 'task_div', locals: {task: task}) %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='col-lg-4 status_column'><h3 class="status_title">In Progress</h3>
    <div class='status'>
      <ul class="list-unstyled status_list" data-status="in_progress" id="in_progress_status">
        <% @tasks.sorted.in_progress.each do |task| %>
          <%= content_tag_for(:li, task) do %> 
            <%= render(partial: 'task_div', locals: {task: task}) %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='col-lg-4 status_column'><h3 class="status_title">Completed</h3>
    <div class='status'>
      <ul class="list-unstyled status_list" data-status="completed" id="completed_status">
        <% @tasks.sorted.complete.each do |task| %>
          <%= content_tag_for(:li, task) do %> 
            <%= render(partial: 'task_div', locals: {task: task}) %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div id="new_task_modal" class="modal fade" role="dialog" aria-labelledby="new_task_modal_label" aria-hidden="true"></div>

<div id="edit_task_modal" class="modal fade" role="dialog" aria-labelledby="edit_task_modal_label" aria-hidden="true"></div>

<div id="delete_task_modal" class="modal fade" role="dialog" aria-labelledby="delete_task_modal_label" aria-hidden="true"></div>

<div id="show_task_modal" class="modal fade" role="dialog" aria-labelledby="show_task_modal_label" aria-hidden="true"></div>
