<div class="board well">
  <a>Title: <%= link_to("#{board.title}", board_tasks_path(board.id)) %></a><br/>
  Description: <%= "#{board.description}" %> <br/>
  Status: <%= board.open ? "Open" : "Closed" %> <br/>
  User: <%= board.user.name %>
  <div style='text-align:right;'>
   <%= link_to('Edit Board', {controller: 'boards', action: 'edit', id: board.id} , { remote: true,  'data-target' => '#edit_board_modal', class: 'btn btn-sm'} ) %>   


  </div>


</div>