
<% @page_title = "Boards" %>

<h2><%=@current_user.name%>'s Boards</h2>
<div style='text-align:right;'>

  <%= link_to '+New Board', new_board_path,  {:remote => true, 'data-target' => '#new_board_modal'}  %>
</div>
<div class="users show">
  <p><%= pluralize(@boards.size, 'board') %> found.</p>
  
  <div class="board_group">
    <ul id='boards' class="no_bullets">
        <% @boards.each do |board| %>
          <%= content_tag_for(:li, board) do %> 
            <%= render(partial: 'board_div', locals: {board: board}) %>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>



<div id="new_board_modal" class="modal fade" role="dialog" aria-labelledby="new_board_modal_label" aria-hidden="true"></div>

<div id="edit_board_modal" class="modal fade" role="dialog" aria-labelledby="edit_board_modal_label" aria-hidden="true"></div>

<div id="delete_board_modal" class="modal fade" role="dialog" aria-labelledby="delete_board_modal_label" aria-hidden="true"></div>

