<!DOCTYPE html>
<html>
<head>
  <title>Kalmban<%= " | #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag :defaults %>  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  

  <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kalmban</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        
        <li class="dropdown">

         <!--  <%= link_to(raw('Users<span class="caret"></span>'), {controller: 'users', action: 'index'}, class: 'dropdown-toggle')%> -->

          <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Users<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                <li><%= link_to('All Users',{controller: 'users', action: 'index'}) %></li>
                <li><%= link_to('Create User',{controller: 'users', action: 'new'}) %></li>
          </ul>
        </li>


        <li>
          <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Boards<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                <li><%= link_to('All Boards',{controller: 'boards', action: 'index'}) %></li>
                <li><%= link_to('Create Board',{controller: 'boards', action: 'new'}) %></li>
          </ul>

        </li>

        <li>
          <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Tasks<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                <li><%= link_to('All Tasks',{controller: 'tasks', action: 'index'}) %></li>
                <li><%= link_to('Create Task',{controller: 'tasks', action: 'new'}) %></li>
          </ul>

        </li>

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
        <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">
        <% if current_user %>
        
          <%= current_user.name %>
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
        </p></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="main">
<% if !flash[:notice].blank? %>
  <div id="flash_notice" class="bg-info" style="padding:10px">
    <%= flash[:notice] %>
  </div>
  <% end %>
<%= yield %>
</div>

</body>
</html>
